<template>
  <div id="app">
    <h2>WYSIWYG Editor</h2>
    <wysiwyg v-model="myHTML" />
    <h2>Result</h2>
    <button @click="myHTML = ''">Clear</button>
    <div class="fullwidth">
      <textarea :value="myHTML" cols="50" rows="100"></textarea>
    </div>
    <p>"Reality is negotiable.”― Tim Ferriss</p>
  </div>
</template>

<script>

export default {
  name: 'App',
  data(){
    return {
      myHTML:''
    }
  }
}
</script>

<style lang="scss">
@import "~vue-wysiwyg/dist/vueWysiwyg.css";

.fullwidth{
  width: 100%;
  textarea{
    border:1px solid #999999;
    width:99%;
    margin:5px 0;
    padding:3px;
  }
}

p{
  font-size:9px;
}

</style>
